main {
  width: 65%;
  margin: 0 auto;
}

main img{
  height: 30%;
  width: 30%;
  margin: 2%;
}

h1.author {
  font-size: 15px;
}

nav {
  margin-bottom: 50px;
}

nav ul li {
  list-style: none;
  display: inline;
}

nav li {
  margin-left: 2%;
  margin-right: 2%;
}

.tab-content.hide {
  display:none;
}

.tab-content.active {
  display: block;
}
